body{
    background-color: #C9DABF;
    font-family: "Roboto", sans-serif;
}
.Titulos_Secciones{
    color: #5F6F65;
}

@import 'secciones/formulario';
@import 'secciones/presentacion';
@import 'secciones/proyectos';
@import 'secciones/navegacion';
@import 'secciones/habilidades';

